body {
    background-color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: gold;
}
h1 {
    text-align: center;
    color: gold;
}
   
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 

.project {
    width: 30%;
    margin: 50px;
    margin-left: 40px;
    padding: 50px 40px;
    background: rgba(156, 155, 155, 0.788); /* pick a color */
    border-radius: 10%;
}


    .about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
        }
        .about p {
        width:50%;
        text-align: center;
        margin: auto;
        line-height: 125%;
        }
        .about img {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid rgb(255, 255, 255);
        }   

        
    
    